@model IEnumerable<BumboSolid.Data.Models.AvailabilityRule>

<header class="text-center text-nowrap">
    <h1>Beschikbaarheid</h1>
</header>

<div class="d-flex flex-column align-items-center">
    <a class="btn bumbo-btn" asp-controller="Availability" asp-action="Create"
       asp-route-year="@ViewBag.year" asp-route-weekNr="@ViewBag.weekNr" asp-route-employeeId="@ViewBag.employeeId">
        <i class="fa-solid fa-plus"></i> Beschikbaarheid Opgeven
    </a>
</div>

<br />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th class="table-corner-l">Dag</th>
                <th>Starttijd</th>
                <th>Eindtijd</th>
                <th>Beschikbaar</th>
                <th>School</th>
                <th class="table-corner-r"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var availabilityRule in Model)
            {
                <tr>
                    <td>@availabilityRule.Date</td>
                    <td>@availabilityRule.StartTime</td>
                    <td>@availabilityRule.EndTime</td>
                    <td>@(availabilityRule.Available == 1 ? "Ja" : "Nee")</td>
                    <td>@(availabilityRule.School == 1 ? "Ja" : "Nee")</td>
                    <td class="d-flex gap-3">
                        <a asp-controller="Availability" asp-action="Edit"
                           asp-route-AvailabilityId="@availabilityRule.Id" asp-route-weekNr="@ViewBag.weekNr" asp-route-year="@ViewBag.year">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a asp-controller="Availability" asp-action="Delete"
                           asp-route-AvailabilityId="@availabilityRule.Id" asp-route-weekNr="@ViewBag.weekNr" asp-route-year="@ViewBag.year">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>U hebt nog geen beschikbaarheid opgegeven.</h3>
}