@model BumboSolid.Models.ClockedHoursOverviewViewModel

@{
	ViewData["Title"] = "Uren Overzicht";
}

<header class="d-flex align-items-center gap-3 justify-content-center gap-3">
	<div class="w-100">
        <a class="new-btn" asp-controller="ClockedHours" asp-action="Overview" asp-route-week="@(Model.WeekId - 1)">Vorige Week</a>
	</div>
	<div class="mx-3 text-center text-nowrap">
		<h1>Uren Overzicht</h1>
		<p>@Model.StartDate - @Model.EndDate</p>
	</div>
	<div class="w-100 text-align text-end">
        <a class="new-btn" asp-controller="ClockedHours" asp-action="Overview" asp-route-week="@(Model.WeekId + 1)">Volgende Week</a>
	</div>
</header>

<br />

<table class="table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Weekdag</th>
            <th>Afdeling</th>
            <th>Starttijd</th>
            <th>Eindtijd</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var clockedHour in Model.ClockedHours)
        {
            <tr>
                <td>@Model.StartDate.AddDays(clockedHour.Weekday - 1).ToString("dd-MM-yyyy")</td>
                <td>@Model.WeekdayDictionary[clockedHour.Weekday]</td>
                <td>@clockedHour.Department</td>
                <td>@clockedHour.StartTime</td>
                <td>
                    @if (clockedHour.EndTime != TimeOnly.MinValue)
                    {
                        @clockedHour.EndTime
                    }
                    else
                    {
                        <em>Actief</em>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>