@model BumboSolid.Web.Models.EditFactorsViewModel

@{
	String[] daysOfTheWeek = { "Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag" };
	String[] factorTypes = { "Feestdagen", "Weer", "Overig" };
	int value;
}
<form asp-action="Aanmaken">
	<input type="hidden" asp-for="Prognosis.Id" />
	<input type="hidden" asp-for="Prognosis.Year" />
	<input type="hidden" asp-for="Prognosis.Week" />
	<table class="table" cellspacing="0">
		<tr>
			<th></th>
			<th scope="col" class="rounded-top table-primary">Schatting Bezoekersdrukte</th>
			<th scope="col" class="rounded-top table-secondary">Feestdagen</th>
			<th scope="col" class="rounded-top table-primary">Weer</th>
			<th scope="col" class="rounded-top table-secondary">Overig</th>
		</tr>
		@for (int i = 0; i < daysOfTheWeek.Length; i++)
		{
			String day = daysOfTheWeek[i];
			<tr>
				<th scope="row">@day</th>
				@{
					if (Model.VisitorEstimatePerDay == null)
					{
						value = 0;
					}
					else
					{
						value = Model.VisitorEstimatePerDay![(byte)i];
					}
				}
				<td class="table-primary"><input name="visitorEstimates" type="number" class="form-control int-edit" value="@value"></td>

				@{
					value = Model.Prognosis.PrognosisDays.First(x => x.Weekday == i).Factors.First(x => x.Type == "Feestdagen").Impact;
				}
				<td class="table-secondary"><input name="holidays" type="number" class="form-control int-edit" value="@value"></td>

				@{
					value = Model.Prognosis.PrognosisDays.First(x => x.Weekday == i).Factors.First(x => x.Type == "Weer").Impact;
				}
				<td class="table-primary"><input name="weather" type="number" class="form-control int-edit" value="@value"></td>

				@{
					value = Model.Prognosis.PrognosisDays.First(x => x.Weekday == i).Factors.First(x => x.Type == "Overig").Impact;
				}
				<td class="table-secondary"><input name="other" type="number" class="form-control int-edit" value="@value"></td>
			</tr>
		}
	</table>
	<div class="d-flex flex-row">
		<a class="btn btn-danger" asp-controller="Home" asp-action="Index">Annuleren & Ongedaan Maken</a>
		<input type="submit" class="btn btn-primary" value="Opslaan & Bijwerken">
	</div>
</form>
