@model IEnumerable<BumboSolid.Data.Models.Prognosis>

@{
	ViewData["Title"] = "Home Page";
}

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/981e782106.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div class="d-flex flex-row">

	<!--Prognosis list and impact buttons-->
	<div class="p-2">
		<a class="p-2 btn btn-primary" asp-controller="Prognoses" asp-action="Create">Prognose aanmaken</a>

		<div class="background-dark" id="prognosis-scrollbar">
			<table class="table">
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								<button class="btn btn-outline-primary btn-sm m-0">
									@Html.DisplayFor(modelItem => item.Year) - week @Html.DisplayFor(modelItem => item.Week)
								</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<button class="p-2 btn btn-primary" data-toggle="modal" data-target="#manageNormModal">Normeringen Beheren</button>

        <!--Manage Norms pop-up modal-->
        <div class="modal fade" id="manageNormModal" tabindex="-1" role="dialog" aria-labelledby="manageNormModalLabel" aria-hidden="true">
			<div class="modal-dialog" id="modal-norms-manage-custom"role="document">
                <div class="modal-content background-light" id="norm-view">
					@Html.Partial("~/Views/Norms/Edit.cshtml")
                </div>
            </div>
        </div>

		<!--Overview Holiday button-->
		<button class="p-2 btn btn-primary" data-toggle="modal" data-target="#holidayModal">Feestdagen Beheren</button>

		<!--Overview Holiday pop-up modal-->
		<div class="modal fade" id="holidayModal" tabindex="-1" role="dialog" aria-labelledby="holidayModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content background-light">
					@Html.Partial("~/Views/Holidays/Index.cshtml")
				</div>
			</div>
		</div>

		<!--Manage Holiday pop-up modal-->
		<div class="modal fade" id="holidayManageModal" tabindex="-1" role="dialog" aria-labelledby="holidayManageModalLabel" aria-hidden="true">
			<div class="modal-dialog" id="modal-holiday-manage-custom" role="document">
				<div class="modal-content background-light">
					@Html.Partial("~/Views/Holidays/Edit.cshtml")
				</div>
			</div>
		</div>
	</div>

	<!--Selected prognosis menu-->
	<div class="p-2" id="selected-prognosis-background">

		<!--Switching between prognosis-->
		<div class="d-flex flex-row">
			<button class="btn btn-primary">← Vorige Week</button>

			<div class="background-dark" id="prognosis-date-box">
				<h6 id="prognosis-date">--/--/---- - --/--/----</h6>
			</div>

			<button class="btn btn-primary disabled">Volgende Week →</button>
		</div>

		<!--Info about prognosis-->
		<div class="background-dark">
			<div class="d-flex flex-row">
				<ul class="p-2" id="prognosis-weekdays">
					<li>Maandag</li>
					<li>Dinsdag</li>
					<li>Woensdag</li>
					<li>Donderdag</li>
					<li>Vrijdag</li>
					<li>Zaterdag</li>
					<li>Zondag</li>
				</ul>

				<!--Cashier-->
				<div class="p-2 background-white prognosis-table">
					<h6>Kassa</h6>

					<hr>

					<table>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
					</table>
				</div>

				<!--Stocker-->
				<div class="p-2 background-white prognosis-table">
					<h6>Vakkenvullen</h6>

					<hr>

					<table>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
					</table>
				</div>

				<!--Fresh-->
				<div class="p-2 background-white prognosis-table">
					<h6>Vers</h6>

					<hr>

					<table>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
						<tr>
							<td class="background-light impact-unchangeable">...</td>
							<td class="background-dark impact-unchangeable">...</td>
						</tr>
					</table>
				</div>

				<!--External factors-->
				<div class="p-2 background-white prognosis-table" id="prognosis-tables-spacing">
					<h6>Externe Factoren</h6>

					<hr>

					<table>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
					</table>
				</div>

				<!--Expected visitors-->
				<div class="p-2 background-white prognosis-table">
					<h6>Verwachte Bezoekersdrukte</h6>

					<hr>

					<table>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
						<tr><td class="background-light impact-unchangeable">...</td></tr>
					</table>
				</div>
			</div>

			<div class="d-flex flex-row">
				<div class="d-flex flex-row background-white auto-margin prognosis-index">
					<div class="p-2 background-light square auto-margin"></div>

					<p class="p-2 auto-margin">Personeel</p>

					<div class="p-2 background-dark square auto-margin"></div>

					<p class="p-2 auto-margin">Werkuren</p>
				</div>

				<!--Manage Factors button-->
				<button class="p-2 btn btn-primary auto-margin prognosis-index" data-toggle="modal" data-target="#factorModal">Factoren Beheren</button>

				<!--Manage Factors pop-up modal-->
				<div class="modal fade" id="factorModal" tabindex="-1" role="dialog" aria-labelledby="factorModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg-custom" role="document">
						<div class="modal-content background-light">
							@Html.Partial("~/Views/Factors/Edit.cshtml")
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
