@model BumboSolid.Models.CLAManageViewModel

@{
	ViewData["Title"] = "Bewerken";
}

<header class="d-flex align-items-center gap-3 justify-content-center gap-3">
	<div class="w-100 text-align text-end">
		<a class="btn new-btn" asp-controller="CLA" asp-action="Index">Terug</a>
	</div>
	<div class="mx-3 text-center text-nowrap">
		<h1>CAO Regel aanpassen voor:</h1>
		@if (Model.AgeStart.HasValue && Model.AgeEnd.HasValue)
		{
			<h4>@Model.AgeStart tot @Model.AgeEnd jaar</h4>
		}
		else if (Model.AgeStart.HasValue && !Model.AgeEnd.HasValue)
		{
			<h4>Vanaf @Model.AgeStart jaar</h4>
		}
		else if (!Model.AgeStart.HasValue && Model.AgeEnd.HasValue)
		{
			<h4>Tot @Model.AgeEnd jaar</h4>
		}
		else if (!Model.AgeStart.HasValue && !Model.AgeEnd.HasValue)
		{
			<h4>Algemene regels</h4>
		}
	</div>
	<div class="w-100"></div>
</header>

<div class="row justify-content-center">
	<div class="col-md-10">
		<form asp-controller="CAO" asp-action="Bewerken">
			<div asp-validation-summary="ModelOnly" class="text-danger text-center"></div>
			<input type="hidden" asp-for="Id" />
			<div class="row pb-2">
				<div class="form-group col-md-4">
					<label asp-for="MaxWorkDurationPerDay" class="control-label fw-bold">Maximale werkduur per dag</label>
					<input asp-for="MaxWorkDurationPerDay" class="form-control p-1 border-solid-black"
						   value="@Model.MaxWorkDurationPerDay?.ToString("G10")" />
					<span asp-validation-for="MaxWorkDurationPerDay" class="text-danger"></span>
				</div>
				<div class="form-group col-md-2 d-flex justify-content-end align-items-end">
					<select asp-for="MaxDayDurationHours" class="p-1 border-solid-black">
						<option value="true">Uren</option>
						<option value="false">Minuten</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label asp-for="MaxShiftDuration" class="control-label fw-bold">Maximale shiftduur</label>
					<input asp-for="MaxShiftDuration" class="form-control p-1 border-solid-black"
						   value="@Model.MaxShiftDuration?.ToString("G10")" />
					<span asp-validation-for="MaxShiftDuration" class="text-danger"></span>
				</div>
				<div class="form-group col-md-2 d-flex justify-content-end align-items-end">
					<select asp-for="MaxTotalShiftDurationHours" class="p-1 border-solid-black">
						<option value="true">Uren</option>
						<option value="false">Minuten</option>
					</select>
				</div>
			</div>
			<div class="row pb-2">
				<div class="form-group col-md-6">
					<label asp-for="MaxWorkDaysPerWeek" class="control-label fw-bold">Maximale werkdagen per week</label>
					<input asp-for="MaxWorkDaysPerWeek" class="form-control p-1 border-solid-black" />
					<span asp-validation-for="MaxWorkDaysPerWeek" class="text-danger"></span>
				</div>
				<div class="form-group col-md-4">
					<label asp-for="MaxWorkDurationPerWeek" class="control-label fw-bold">Maximale werkduur per week</label>
					<input asp-for="MaxWorkDurationPerWeek" class="form-control p-1 border-solid-black"
						   value="@Model.MaxWorkDurationPerWeek?.ToString("G10")" />
					<span asp-validation-for="MaxWorkDurationPerWeek" class="text-danger"></span>
				</div>
				<div class="form-group col-md-2 d-flex justify-content-end align-items-end">
					<select asp-for="MaxWeekDurationHours" class="p-1 border-solid-black">
						<option value="true">Uren</option>
						<option value="false">Minuten</option>
					</select>
				</div>
			</div>
			<div class="row pb-2">
				<div class="form-group col-md-10">
					<label asp-for="MaxWorkDurationPerHolidayWeek" class="control-label fw-bold">Maximale werkduur per vakantieweek</label>
					<input asp-for="MaxWorkDurationPerHolidayWeek" class="form-control p-1 border-solid-black"
						   value="@Model.MaxWorkDurationPerHolidayWeek?.ToString("G10")" />
					<span asp-validation-for="MaxWorkDurationPerHolidayWeek" class="text-danger"></span>
				</div>
				<div class="form-group col-md-2 d-flex justify-content-end align-items-end">
					<select asp-for="MaxHolidayDurationHours" class="p-1 border-solid-black">
						<option value="true">Uren</option>
						<option value="false">Minuten</option>
					</select>
				</div>
			</div>
			<div class="row pb-2">
				<div class="form-group col-md-10">
					<label asp-for="MaxAvgWeeklyWorkDurationOverFourWeeks" class="control-label fw-bold">Maximale gemiddelde werkduur per week over vier weken</label>
					<input asp-for="MaxAvgWeeklyWorkDurationOverFourWeeks" class="form-control p-1 border-solid-black"
						   value="@Model.MaxAvgWeeklyWorkDurationOverFourWeeks?.ToString("G10")" />
					<span asp-validation-for="MaxAvgWeeklyWorkDurationOverFourWeeks" class="text-danger"></span>
				</div>
				<div class="form-group col-md-2 d-flex justify-content-end align-items-end">
					<select asp-for="MaxAvgDurationHours" class="p-1 border-solid-black">
						<option value="true">Uren</option>
						<option value="false">Minuten</option>
					</select>
				</div>
			</div>
			<div class="row pb-2">
				<div class="form-group col-md-6">
					<label asp-for="EarliestWorkTime" class="control-label fw-bold">Vroegste toegestane werktijd</label>
					<input asp-for="EarliestWorkTime" class="form-control p-1 border-solid-black" />
					<span asp-validation-for="EarliestWorkTime" class="text-danger"></span>
				</div>
				<div class="form-group col-md-6">
					<label asp-for="LatestWorkTime" class="control-label fw-bold">Laatste toegestane werktijd</label>
					<input asp-for="LatestWorkTime" class="form-control p-1 border-solid-black" />
					<span asp-validation-for="LatestWorkTime" class="text-danger"></span>
				</div>
			</div>
			<div class="row pb-2">
				<div class="form-group col-md-4">
					<label asp-for="BreakWorkDuration" class="control-label fw-bold">Maximale werktijd zonder pauze</label>
					<input asp-for="BreakWorkDuration" class="form-control p-1 border-solid-black"
						   value="@Model.BreakWorkDuration?.ToString("G10")" />
					<span asp-validation-for="BreakWorkDuration" class="text-danger"></span>
				</div>
				<div class="form-group col-md-2 d-flex justify-content-end align-items-end">
					<select asp-for="MaxUninterruptedShiftDurationHours" class="p-1 border-solid-black">
						<option value="true">Uren</option>
						<option value="false">Minuten</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label asp-for="BreakMinBreakDuration" class="control-label fw-bold">Minimale pauzetijd hierbij</label>
					<input asp-for="BreakMinBreakDuration" class="form-control p-1 border-solid-black"
						   value="@Model.BreakMinBreakDuration?.ToString("G10")" />
					<span asp-validation-for="BreakMinBreakDuration" class="text-danger"></span>
				</div>
				<div class="form-group col-md-2 d-flex justify-content-end align-items-end">
					<select asp-for="MinBreakTimeHours" class="p-1 border-solid-black">
						<option value="true">Uren</option>
						<option value="false">Minuten</option>
					</select>
				</div>
			</div>
			<div class="form-group pt-2 col-12">
				<input type="submit" value="Sla Op" class="btn new-btn w-100" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
