@model IEnumerable<BumboSolid.Models.CLACardViewModel>

<header>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning">
            @TempData["Message"]
        </div>
    }

    <div class="d-flex flex-column align-items-center">
        <h1>CAO regels</h1>
        <a class="btn bumbo-btn" asp-controller="CAO" asp-action="Toevoegen">Toevoegen</a>
    </div>
</header>

<br />

<body>
    <div class="d-flex flex-column align-items-center">
        @if (!Model.Any())
        {
            <h4>Het lijkt erop dat er geen CAO regels in het systeem staan. Voeg deze A.U.B. toe</h4>
        }
        else
        {
            @foreach (var card in Model)
            {
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">

                            @if (card.AgeStart.HasValue && card.AgeEnd.HasValue)
                            {
                                <h2 class="col-10">Regels voor @card.AgeStart tot @card.AgeEnd</h2>
                            }
                            else if (!card.AgeStart.HasValue && !card.AgeEnd.HasValue)
                            {
                                <h2 class="col-10">Algemene regels</h2>
                            }
                            else if (!card.AgeStart.HasValue && card.AgeEnd.HasValue)
                            {
                                <h2 class="col-10">Regels tot @card.AgeEnd</h2>
                            }
                            else if (card.AgeStart.HasValue && !card.AgeEnd.HasValue)
                            {
                                <h2 class="col-10">Regels vanaf @card.AgeStart jaar</h2>
                            }
                            <a asp-action="Edit" asp-route-ageStart="@card.AgeStart" asp-route-ageEnd="@card.AgeEnd" class="btn bumbo-btn">Bewerk</a>
                        </div>

                    </div>
                    <div class="card-body">
                        <ul>
                            @foreach (var rule in card.Rules)
                            {
                                <li class="rules-list">@rule</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</body>
