@model IEnumerable<BumboSolid.Models.CLACardViewModel>

@{
    int surchargeStartId = Model.LastOrDefault(model => model.Surcharge == null)?.Id ?? 0;
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        @TempData["Message"]
    </div>
}

<header>
    <div class="d-flex flex-column align-items-center">
        <h1>CAO regels</h1>
        <div class="w-100">
            <div class="d-flex justify-content-around align-items-center">
                <a class="btn bumbo-btn" asp-controller="CAO" asp-action="Toevoegen">CAO Regel Toevoegen</a>
                <a class="btn bumbo-btn" asp-controller="CAO" asp-action="ToeslagToevoegen">CAO Toeslag Regel Toevoegen</a>
            </div>
        </div>
    </div>
</header>

<br />

@if (!Model.Any())
{
    <div class="text-center pt-3">
        <h1>Geen CAO Regels</h1>
        <p>Het lijkt erop dat er geen CAO regels in het systeem staan.</p>
    </div>
}
else
{
    <div class="d-flex flex-wrap gap-5 justify-content-center">
        @foreach (var card in Model)
        {
            <div class="card w-40">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        @if (card.AgeStart.HasValue && card.AgeEnd.HasValue)
                        {
                            <h2 class="mb-0">Regels voor @card.AgeStart tot @card.AgeEnd</h2>
                        }
                        else if (card.Surcharge != null)
                        {
                            <h2 class="mb-0">Toeslag @card.Surcharge%</h2>
                        }
                        else if (!card.AgeStart.HasValue && !card.AgeEnd.HasValue)
                        {
                            <h2 class="mb-0">Algemene regels</h2>
                        }
                        else if (!card.AgeStart.HasValue && card.AgeEnd.HasValue)
                        {
                            <h2 class="mb-0">Regels tot @card.AgeEnd</h2>
                        }
                        else if (card.AgeStart.HasValue && !card.AgeEnd.HasValue)
                        {
                            <h2 class="mb-0">Regels vanaf @card.AgeStart jaar</h2>
                        }

                        <div>
                            @if (card.Surcharge == null)
                            {
                                <a asp-action="Edit" asp-route-ageStart="@card.AgeStart" asp-route-ageEnd="@card.AgeEnd"><i class="fa-solid fa-pen-to-square"></i></a>
                            }
                            else
                            {
                                <a asp-action="EditSurchargeEntry" asp-route-id="@(card.Id - surchargeStartId)"><i class="fa-solid fa-pen-to-square"></i></a>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul>
                        @foreach (var rule in card.Rules)
                        {
                            <li class="rules-list">@rule</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
}
