@model IEnumerable<BumboSolid.Data.Models.User>

<header class="d-flex flex-column align-items-center">
    <h1>Medewerkers</h1>
    <a asp-action="Create" class="btn bumbo-btn"><i class="fa-solid fa-plus"></i> Medewerker Toevoegen</a>
</header>

<br />

<div class="align-content-center align-items-center flex-column">
    <div>
        @if (Model.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-corner-l">Naam</th>
                        <th>Leeftijd</th>
                        <th>Afdelingen</th>
                        <th>In dienst sinds</th>
                        <th class="table-corner-r"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model)
                    {
                        var birthDateTime = employee.BirthDate.ToDateTime(new TimeOnly(0, 0));
                        var age = DateTime.Today.Year - birthDateTime.Year;
                        if (birthDateTime.Date > DateTime.Today.AddYears(-age)) age--;

                        <tr>
                            <td>@employee.FirstName @employee.LastName</td>
                            <td>@age</td>
                            <td>
                                @string.Join(", ", employee.Departments.Select(d => d.Name))
                            </td>
                            <td>@employee.EmployedSince.ToShortDateString()</td>
                            <td>
                                <a asp-controller="ScheduleManager" asp-action="ManagerEmployeeSchedule" asp-route-employeeId="@employee.Id"><i class="fa-regular fa-calendar"></i></a>
                                <a asp-controller="ClockedHoursManager" asp-action="Overview" asp-route-employeeId="@employee.Id"><i class="fa-solid fa-clock"></i></a>
                                <a asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id"><i class="fa-solid fa-pen-to-square"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-muted">Er zijn momenteel geen medewerkers.</p>
        }
    </div>
</div>

