@model BumboSolid.Models.SchedulesViewModel

@{
	ViewData["Title"] = "Rooster";

	var schedule = Model.Weeks.First(w => w.Id == Model.WeekId);

	DateTime startDate = FirstDateOfWeekISO8601(schedule.Year, schedule.WeekNumber);
	DateTime endDate = startDate.AddDays(6);

	var shifts = schedule.Shifts;

	string[,] newSchedule = new string[7, 24];

	foreach (var shift in shifts)
	{
		int hours = shift.EndTime.Hour - shift.StartTime.Hour;
		if (shift.EndTime.Minute > 0)
			hours++;

		for (int i = 0; i < hours; i++)
		{
			if (newSchedule[shift.Weekday, shift.StartTime.Hour + i] != null)
			{
				newSchedule[shift.Weekday, shift.StartTime.Hour + i] += ", <br />";
			}

			String employeeName = shift.Employee != null ? shift.Employee.FirstName + " " + shift.Employee.LastName : shift.ExternalEmployeeName!;
			newSchedule[shift.Weekday, shift.StartTime.Hour + i] += employeeName;
		}
	}
}

@functions {
	public static DateTime FirstDateOfWeekISO8601(int year, int weekOfYear)
	{
		DateTime jan1 = new DateTime(year, 1, 1);
		int daysOffset = DayOfWeek.Thursday - jan1.DayOfWeek;

		DateTime firstThursday = jan1.AddDays(daysOffset);
		var cal = System.Globalization.CultureInfo.CurrentCulture.Calendar;
		int firstWeek = cal.GetWeekOfYear(firstThursday, System.Globalization.CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);

		var weekNum = weekOfYear;
		if (firstWeek == 1)
		{
			weekNum -= 1;
		}

		var result = firstThursday.AddDays(weekNum * 7);
		return result.AddDays(-3);
	}
}

<!-- TODO Voeg filter systeem toe bij rooster -->

<header class="d-flex align-items-center gap-3 justify-content-center gap-3">
	<div class="w-100 text-align text-end">
		<a class="new-btn">Rooster Beheren</a>
	</div>
	<div class="mx-3 text-center text-nowrap">
		<h1>Rooster</h1>
		<p>@startDate.ToString("dd/MM/yyyy") - @endDate.ToString("dd/MM/yyyy")</p>
	</div>
	<div class="w-100">
		<a class="new-btn" asp-controller="Shifts" asp-action="Create" asp-route-weekid="@schedule.Id">Toevoegen</a>
	</div>
</header>

<div class="container p-1 border-solid-black border-radius-5 schedule-row-width-fix">
	<div class="row schedule min-height-0 fw-bold-parent">
		<div class="hour-minute-column"></div>
		<div class="col mb-1">Maandag</div>
		<div class="col mb-1">Dinsdag</div>
		<div class="col mb-1">Woensdag</div>
		<div class="col mb-1">Donderdag</div>
		<div class="col mb-1">Vrijdag</div>
		<div class="col mb-1">Zaterdag</div>
		<div class="col mb-1">Zondag</div>
	</div>
	@for (int hour = 7; hour <= 20; hour++)
	{
		<hr class="schedule-hr" />
		<div class="row schedule">
			<div class="hour-minute-column">@hour:00</div>
			@for (int day = 0; day < 7; day++)
			{
				<div class="col schedule-item-container">
					@if (newSchedule[day, hour] != null)
					{
						if (hour > 6 && hour < 20) {
							if (newSchedule[day, hour + 1] != null && newSchedule[day, hour - 1] != null) {
								<a class="schedule-item-center" asp-controller="Shifts" asp-action="Details" asp-route-year="@schedule.Year" asp-route-week="@schedule.WeekNumber" asp-route-day="@day" asp-route-startTime="@hour" asp-route-endTime="@(hour + 1)">@Html.Raw(newSchedule[day, hour])</a>
							}
							else if (newSchedule[day, hour + 1] != null) {
								<a class="schedule-item-top" asp-controller="Shifts" asp-action="Details" asp-route-year="@schedule.Year" asp-route-week="@schedule.WeekNumber" asp-route-day="@day" asp-route-startTime="@hour" asp-route-endTime="@(hour + 1)">@Html.Raw(newSchedule[day, hour])</a>
							}
							else if (newSchedule[day, hour - 1] != null)
							{
								<a class="schedule-item-bottom" asp-controller="Shifts" asp-action="Details" asp-route-year="@schedule.Year" asp-route-week="@schedule.WeekNumber" asp-route-day="@day" asp-route-startTime="@hour" asp-route-endTime="@(hour + 1)">@Html.Raw(newSchedule[day, hour])</a>
							}
							else {
								<a class="schedule-item" asp-controller="Shifts" asp-action="Details" asp-route-year="@schedule.Year" asp-route-week="@schedule.WeekNumber" asp-route-day="@day" asp-route-startTime="@hour" asp-route-endTime="@(hour + 1)">@Html.Raw(newSchedule[day, hour])</a>
							}
						} else if (hour == 0) {
							if (newSchedule[day, hour + 1] != null)
							{
								<a class="schedule-item-top" asp-controller="Shifts" asp-action="Details" asp-route-year="@schedule.Year" asp-route-week="@schedule.WeekNumber" asp-route-day="@day" asp-route-startTime="@hour" asp-route-endTime="@(hour + 1)">@Html.Raw(newSchedule[day, hour])</a>
							} else {
								<a class="schedule-item" asp-controller="Shifts" asp-action="Details" asp-route-year="@schedule.Year" asp-route-week="@schedule.WeekNumber" asp-route-day="@day" asp-route-startTime="@hour" asp-route-endTime="@(hour + 1)">@Html.Raw(newSchedule[day, hour])</a>
							}
						} else {
							if (newSchedule[day, hour - 1] != null)
							{
								<a class="schedule-item-bottom" asp-action="Details" asp-route-year="@schedule.Year" asp-route-week="@schedule.WeekNumber" asp-route-day="@day" asp-route-startTime="@hour" asp-route-endTime="@(hour + 1)">@Html.Raw(newSchedule[day, hour])</a>
							}
							else
							{
								<a class="schedule-item" asp-action="Details" asp-route-year="@schedule.Year" asp-route-week="@schedule.WeekNumber" asp-route-day="@day" asp-route-startTime="@hour" asp-route-endTime="@(hour + 1)">@Html.Raw(newSchedule[day, hour])</a>
							}
						}
					}
				</div>
			}
		</div>
	}
</div>