@model BumboSolid.Models.EditPrognosisFactorsViewModel

@{
    string[] daysOfTheWeek = { "Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag" };
    int value;
}

<header class="d-flex flex-column align-items-center">
    <div class="d-flex w-100 header-items">
        <div class="d-flex justify-content-start align-items-center w-35">
            <a asp-action="Index" class="btn bumbo-btn bumbo-btn-back">
                <i class="fa-solid fa-arrow-left"></i> Terug
            </a>
        </div>
        <div class="text-center d-flex flex-column align-items-center justify-content-center w-30 text-nowrap">
            <h1>Week @Model.Prognosis.WeekNumber</h1>
        </div>
    </div>
</header>

<br />

<form asp-controller="Factors" asp-action="Edit" asp-route-id="@Model.Prognosis.Id" method="post">
    <input type="hidden" asp-for="Prognosis" value="@Model.Prognosis" />
    <input type="hidden" asp-for="Prognosis.Id" value="@Model.Prognosis.Id" />
    <input type="hidden" asp-for="WeatherValues" value="@Model.WeatherValues" />
    <div class="d-flex justify-content-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-corner-l">Dag</th>
                    <th>Schatting<br />Bezoekersdrukte</th>
                    <th>Feestdagen</th>
                    <th>Weer</th>
                    <th>Overig</th>
                    <th class="table-corner-r">Totale<br />Schatting Bezoekersdrukte</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var day in daysOfTheWeek)
                {
                    var i = Array.IndexOf(daysOfTheWeek, day);
                    var visitorEstimate = Model.Prognosis.PrognosisDays[i].VisitorEstimate;
                    var holidayValue = Model.Prognosis.PrognosisDays.First(x => x.Weekday == i).Factors.First(x => x.Type == "Feestdagen").Impact;
                    var otherValue = Model.Prognosis.PrognosisDays.First(x => x.Weekday == i).Factors.First(x => x.Type == "Overig").Impact;
                    <tr>
                        <td>@day</td>
                        <td>
                            <input id="visitor-estimate-@i" name="visitorEstimates" type="number" class="form-control" value="@visitorEstimate" onchange="updateVisitorEstimate()">
                        </td>
                        <td>
                            <input id="holiday-@i" name="holidays" type="number" class="form-control" value="@holidayValue" onchange="updateVisitorEstimate()">

                        </td>
                        <td>
                            <div class="d-flex flex-row gap-3">
                                @{
                                    String imageSrc = "/images/weather/3.svg";
                                }
                                <img id="@("weather-icon-" + i)" src=@imageSrc class="background-white" />

                                <select id="@("weather-select-" + i)" name="weather" type="number" class="form-control form-select" onchange="@("updateIcon("+i+"); updateVisitorEstimate();")">
                                    @{
                                        for (int j = 0; j < 7; j++)
                                        {
                                            <option selected=@(j == 3) value=@j class=@Model.WeatherValues[j].Impact>@Model.WeatherValues[j].Impact</option>
                                        }
                                    }
                                </select>
                            </div>
                        </td>
                        <td class="table-secondary text-center d-flex flex-row align-items-center gap-4">
                            <input id="other-@i" name="other" type="number" class="form-control" value="@otherValue" onchange="updateVisitorEstimate()">
                            <textarea name="description" class="factor-description" placeholder="Beschrijving"></textarea>
                        </td>
                        <td><p id="total-estimated-visitor-count-@i" class="background-light impact-unchangeable-dark">0</p></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <br />

    <div>
        <button type="submit" class="btn bumbo-btn"><i class="fas fa-save"></i> Opslaan</button>
    </div>
</form>

<script>
    function updateIcon(selectId) {
        document.getElementById("weather-icon-" + selectId).src = "/images/weather/" + document.getElementById("weather-select-" + selectId).value + ".svg";
    }

    function updateVisitorEstimate() {
        for (i = 0; i < 7; i++) {
            const visitorEstimate = document.getElementById("visitor-estimate-" + i).value || 0;
            const holidayImpact = document.getElementById("holiday-" + i).value || 0;
            const weatherImpact = document.getElementById("weather-select-" + i).options[document.getElementById("weather-select-" + i).value].className || 0;
            const otherImpact = document.getElementById("other-" + i).value || 0;

            const totalEstimate = Math.round(
                visitorEstimate *
                (holidayImpact / 100 + 1) *
                (weatherImpact / 100 + 1) *
                (otherImpact / 100 + 1)
            );

            document.getElementById("total-estimated-visitor-count-" + i).innerText = totalEstimate;
        }
    }

    updateVisitorEstimate();
</script>