@using BumboSolid.Data.Models
@using System.Text.Json
@model BumboSolid.Models.ShiftCreateViewModel

@{
    string[] daysOfTheWeek = { "Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag" };

    DateTime startDate = GetFirstDateOfWeek(Model.Week.Year, Model.Week.WeekNumber);
    DateTime endDate = startDate.AddDays(6);
}

@functions {
    public static DateTime GetFirstDateOfWeek(int year, int weekOfYear)
    {
        var jan1 = new DateTime(year, 1, 1);
        var daysOffset = (int)DayOfWeek.Monday - (int)jan1.DayOfWeek;
        var firstMonday = jan1.AddDays(daysOffset > 0 ? daysOffset - 7 : daysOffset);
        return firstMonday.AddDays((weekOfYear - 1) * 7);
    }
}

<header class="d-flex align-items-center gap-3 justify-content-center gap-3">
    <div class="w-100 text-align text-end">
        <a class="new-btn" asp-controller="ScheduleManager" asp-action="ManagerSchedule" asp-route-id="@Model.Week.Id">Terug</a>
    </div>
    <div class="mx-3 text-center text-nowrap">
        <h1>Medewerker Inplannen</h1>
        <p>@startDate.ToString("dd/MM/yyyy") - @endDate.ToString("dd/MM/yyyy")</p>
    </div>
    <div class="w-100"></div>
</header>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Shift.WeekId" type="hidden" value="@Model.Week.Id" />
            <input asp-for="Week.Year" type="hidden" value="@Model.Week.Year" />
            <input asp-for="Week.WeekNumber" type="hidden" value="@Model.Week.WeekNumber" />
            <div class="row pb-2">
                <div class="form-group col-md-6">
                    <label class="control-label fw-bold">Medewerker</label>
                    <select id="employee-select" asp-for="Shift.EmployeeId" class="form-control p-1 border-solid-black" onchange="onEmployeeNameUpdated()">
                        @foreach (User employee in Model.Employees)
                        {
                            <option value="@employee.Id">@(Model.Employees.Count(e => e.Name == employee.Name) > 1 ? employee.Id : "") @employee.Name</option>
                        }
                        <option value="-1">Extern filiaal</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <p class="fw-bold m-0">Uren over deze week</p>
                    <p id="hoursLeftForThisWeek">-</p>
                </div>
                <div class="form-group col-md-3">
                    <p class="fw-bold m-0">Uren over deze dag</p>
                    <p id="hoursLeftForThisDay">-</p>
                </div>
            </div>
            <div class="row">
                <div id="external-employee-container" class="form-group col-md-6 pb-2">
                    <label class="control-label fw-bold">Externe medewerker naam</label>
                    <input id="external-employee-name" asp-for="Shift.ExternalEmployeeName" class="form-control p-1 border-solid-black" type="hidden" />
                    <span asp-validation-for="Shift.ExternalEmployeeName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 pb-2">
                    <label class="control-label fw-bold">Afdeling</label>
                    <select asp-for="Shift.Department" class="form-control p-1 border-solid-black" asp-items="ViewBag.Departments"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 pb-2">
                    <label class="control-label fw-bold">Dag</label>
                    <select id="weekday-select" asp-for="Shift.Weekday" class="form-control p-1 border-solid-black" onchange="updateHoursLeftForThisDay()">
                        @for (int i = 0; i < daysOfTheWeek.Length; i++)
                        {
                            <option value="@i">@daysOfTheWeek[i]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row pb-3">
                <div class="form-group col-md-6">
                    <label class="control-label fw-bold">Starttijd</label>
                    <input asp-for="Shift.StartTime" class="form-control  p-1 border-solid-black" type="time" value="" />
                    <span asp-validation-for="Shift.StartTime" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label fw-bold">Eindtijd</label>
                    <input asp-for="Shift.EndTime" class="form-control  p-1 border-solid-black" type="time" value="" />
                    <span asp-validation-for="Shift.EndTime" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Inplannen" class="new-btn w-100" />
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-danger mt-3">
                    @ViewBag.Error
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        let employeeSelect = document.getElementById("employee-select");
        let weekdaySelect = document.getElementById("weekday-select");

        let employees = @Html.Raw(JsonSerializer.Serialize(Model.Employees))
        let claEntries = @Html.Raw(JsonSerializer.Serialize(Model.CLAEntries))
        let shifts = @Html.Raw(JsonSerializer.Serialize(Model.Shifts))

        onEmployeeNameUpdated();

        function onEmployeeNameUpdated() {
            if (employeeSelect.options[employeeSelect.selectedIndex].text === "Extern filiaal") {
                document.getElementById("external-employee-name").type = "text"
                document.getElementById("external-employee-container").style.display = "block";
            } else {
                document.getElementById("external-employee-name").type = "hidden"
                document.getElementById("external-employee-container").style.display = "none";
            }
            updateHoursLeftForThisWeek();
            updateHoursLeftForThisDay();
        }

        function updateHoursLeftForThisWeek() {
            let selectedEmployee = parseInt(employeeSelect.options[employeeSelect.selectedIndex].value);

            if (selectedEmployee == -1) {
                document.getElementById('hoursLeftForThisWeek').innerText = "-";
                return;
            }

            let employeeBirthDate = employees.filter(e=>e.Id === selectedEmployee)[0].BirthDate;
            let employeeAge = Date.now() - new Date(employeeBirthDate);
            let employeeAgeInYears = employeeAge / (1000 * 60 * 60 * 24 * 365)
            let activeClaEntry = claEntries.filter(c=>(c.AgeStart === null || c.AgeStart <= employeeAgeInYears) && (c.AgeEnd === null || c.AgeEnd >= employeeAgeInYears))[0];

            if (activeClaEntry == undefined) {
                document.getElementById('hoursLeftForThisWeek').innerText = "Oneindig";
                return;
            }

            let maxHoursPerWeek = activeClaEntry.MaxWorkDurationPerWeek / 60;


            let currentWeek = @Model.Week.Id
            let shiftsPlannedThisWeek = shifts.filter(s=>s.WeekId === currentWeek && s.EmployeeId === selectedEmployee)
            let hoursWorkingThisWeek = 0;

            for (shift of shiftsPlannedThisWeek) {
                let timeStart = new Date("01/01/2000 " + shift.StartTime).getHours();
                let timeEnd = new Date("01/01/2000 " + shift.EndTime).getHours();

                let hourDiff = timeEnd - timeStart;
                hoursWorkingThisWeek += hourDiff;
            }

            document.getElementById('hoursLeftForThisWeek').innerText = maxHoursPerWeek - hoursWorkingThisWeek
        }

        function updateHoursLeftForThisDay() {
            let selectedEmployee = parseInt(employeeSelect.options[employeeSelect.selectedIndex].value);
            let selectedWeekday = weekdaySelect.selectedIndex;

            if (selectedEmployee == -1) {
                document.getElementById('hoursLeftForThisDay').innerText = "-";
                return;
            }

            let employeeBirthDate = employees.filter(e=>e.Id === selectedEmployee)[0].BirthDate;
            let employeeAge = Date.now() - new Date(employeeBirthDate);
            let employeeAgeInYears = employeeAge / (1000 * 60 * 60 * 24 * 365)
            let activeClaEntry = claEntries.filter(c=>(c.AgeStart === null || c.AgeStart <= employeeAgeInYears) && (c.AgeEnd === null || c.AgeEnd >= employeeAgeInYears))[0];

            if (activeClaEntry == undefined) {
                document.getElementById('hoursLeftForThisDay').innerText = "Oneindig";
                return;
            }

            let maxHoursPerDay = activeClaEntry.MaxWorkDurationPerDay / 60;


            let currentWeek = @Model.Week.Id
            let shiftsPlannedThisDay = shifts.filter(s=>s.WeekId === currentWeek && s.EmployeeId === selectedEmployee && s.Weekday === selectedWeekday)
            let hoursWorkingThisDay = 0;

            for (shift of shiftsPlannedThisDay) {
                let timeStart = new Date("01/01/2000 " + shift.StartTime).getHours();
                let timeEnd = new Date("01/01/2000 " + shift.EndTime).getHours();

                let hourDiff = timeEnd - timeStart;
                hoursWorkingThisDay += hourDiff;
            }

            document.getElementById('hoursLeftForThisDay').innerText = maxHoursPerDay - hoursWorkingThisDay
        }
    </script>
}
