@using BumboSolid.Data.Models
@model BumboSolid.Models.ShiftCreateViewModel

@{
    string[] daysOfTheWeek = { "Maandag", "Dinsdag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag", "Zondag" };

    DateTime startDate = GetFirstDateOfWeek(Model.Week.Year, Model.Week.WeekNumber);
    DateTime endDate = startDate.AddDays(6);
}

@functions {
    public static DateTime GetFirstDateOfWeek(int year, int weekOfYear)
    {
        var jan1 = new DateTime(year, 1, 1);
        var daysOffset = (int)DayOfWeek.Monday - (int)jan1.DayOfWeek;
        var firstMonday = jan1.AddDays(daysOffset > 0 ? daysOffset - 7 : daysOffset);
        return firstMonday.AddDays((weekOfYear - 1) * 7);
    }
}

<header class="d-flex flex-column align-items-center">
    <div class="d-flex w-100 header-items">
        <div class="d-flex justify-content-center align-items-center w-35">
            <a class="btn bumbo-btn bumbo-btn-back" asp-controller="ScheduleManager" asp-action="ManagerSchedule" asp-route-id="@Model.Week.Id">
                <i class="fa-solid fa-arrow-left"></i> Terug
            </a>
        </div>
        <div class="text-center d-flex flex-column align-items-center justify-content-center w-30">
            <h1>Shift Inplannen</h1>
            <h6>@startDate.ToString("dd/MM/yyyy") - @endDate.ToString("dd/MM/yyyy")</h6>
        </div>
    </div>
</header>

<br />

<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Shift.WeekId" type="hidden" value="@Model.Week.Id" />
            <input asp-for="Week.Year" type="hidden" value="@Model.Week.Year" />
            <input asp-for="Week.WeekNumber" type="hidden" value="@Model.Week.WeekNumber" />
            <div class="row pb-2">
                <div class="form-group col-md-6">
                    <label class="control-label fw-bold">Medewerker</label>
                    <select id="employee-select" asp-for="Shift.EmployeeId" class="form-control p-1 border-solid-black" onchange="updateEmployeeName()">
                        @foreach (User employee in Model.Employees)
                        {
                            <option value="@employee.Id">@(Model.Employees.Count(e => e.Name == employee.Name) > 1 ? employee.Id : "") @employee.Name</option>
                        }
                        <option value="-1">Extern filiaal</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div id="external-employee-container" class="form-group col-md-6 pb-2">
                    <label class="control-label fw-bold">Externe medewerker naam</label>
                    <input id="external-employee-name" asp-for="Shift.ExternalEmployeeName" class="form-control p-1 border-solid-black" type="hidden" />
                    <span asp-validation-for="Shift.ExternalEmployeeName" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 pb-2">
                    <label class="control-label fw-bold">Afdeling</label>
                    <select asp-for="Shift.Department" class="form-control p-1 border-solid-black" asp-items="ViewBag.Departments"></select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 pb-2">
                    <label class="control-label fw-bold">Dag</label>
                    <select asp-for="Shift.Weekday" class="form-control p-1 border-solid-black">
                        @for (int i = 0; i < daysOfTheWeek.Length; i++)
                        {
                            <option value="@i">@daysOfTheWeek[i]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row pb-3">
                <div class="form-group col-md-6">
                    <label class="control-label fw-bold">Starttijd</label>
                    <input asp-for="Shift.StartTime" class="form-control  p-1 border-solid-black" type="time" value="null" />
                    <span asp-validation-for="Shift.StartTime" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label fw-bold">Eindtijd</label>
                    <input asp-for="Shift.EndTime" class="form-control  p-1 border-solid-black" type="time" value="null" />
                    <span asp-validation-for="Shift.EndTime" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn bumbo-btn w-50"><i class="fa-solid fa-plus"></i> Inplannen</button>
            </div>
            @if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-danger mt-3">
                    @ViewBag.Error
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        updateEmployeeName()

        function updateEmployeeName() {
            let employeeSelect = document.getElementById("employee-select");
            if (employeeSelect.options[employeeSelect.selectedIndex].text === "Extern filiaal") {
                document.getElementById("external-employee-name").type = "text"
                document.getElementById("external-employee-container").style.display = "block";
                document.getElementById('hasBreakIn').innerText = "-:--";
                document.getElementById('canWorkFor').innerText = "-:--";
            } else {
                document.getElementById("external-employee-name").type = "hidden"
                document.getElementById("external-employee-container").style.display = "none";
                document.getElementById('hasBreakIn').innerText = "-:--";
                document.getElementById('canWorkFor').innerText = "-:--";
            }
        }
    </script>
}
