@model BumboSolid.Models.AvailabilityRuleViewModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Beschikbaarheid Bewerken</h1>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-controller="Availability" asp-action="Edit" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" id="year" name="year" value="@ViewBag.Year" />
			<input type="hidden" id="weekNr" name="weekNr" value="@ViewBag.WeekNr" />
			<input type="hidden" asp-for="Id" value="@Model.Id" />

			<div class="form-group">
				<label for="Day" class="control-label">Dag</label>
				<select id="Day" name="Day" class="form-control">
					<option value="Monday" selected="@(Model.Day == "Monday" ? "selected" : null)">Maandag</option>
					<option value="Tuesday" selected="@(Model.Day == "Tuesday" ? "selected" : null)">Dinsdag</option>
					<option value="Wednesday" selected="@(Model.Day == "Wednesday" ? "selected" : null)">Woensdag</option>
					<option value="Thursday" selected="@(Model.Day == "Thursday" ? "selected" : null)">Donderdag</option>
					<option value="Friday" selected="@(Model.Day == "Friday" ? "selected" : null)">Vrijdag</option>
					<option value="Saturday" selected="@(Model.Day == "Saturday" ? "selected" : null)">Zaterdag</option>
					<option value="Sunday" selected="@(Model.Day == "Sunday" ? "selected" : null)">Zondag</option>
				</select>
			</div>

			<div class="d-flex flex-row">
				<div class="form-group mb-3">
					<label asp-for="EndTime" class="control-label">Starttijd</label>
					<input asp-for="EndTime" class="form-control" value="@Model.StartTime" />
					<span asp-validation-for="EndTime" class="text-danger"></span>
				</div>

				<div class="form-group mb-3">
					<label asp-for="EndTime" class="control-label">Eindtijd</label>
					<input asp-for="EndTime" class="form-control" value="@Model.EndTime" />
					<span asp-validation-for="EndTime" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label for="Availability" class="control-label">Beschikbaarheid</label>
				<select id="Availability" name="Availability" class="form-control">
					<option value="Available" selected="@(ViewBag.Availability == "Available" ? "selected" : null)">Beschikbaar</option>
					<option value="Unavailable" selected="@(ViewBag.Availability == "Unavailable" ? "selected" : null)">Niet beschikbaar</option>
					<option value="School" selected="@(ViewBag.Availability == "School" ? "selected" : null)">School</option>
				</select>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-primary">Opslaan</button>				
				<a type="button" class="btn btn-secondary" asp-action="Index">Terug</a>
			</div>
		</form>
	</div>
</div>