@model IEnumerable<BumboSolid.Data.Models.AvailabilityRule>

@{
    ViewData["Title"] = "Index";
}

<script src="https://kit.fontawesome.com/981e782106.js" crossorigin="anonymous"></script>

<div class="mx-3 text-center text-nowrap">
    <h1>Beschikbaarheid</h1>
</div>
<div class="w-100 mb-3">
    <a class="btn new-btn" asp-area="" asp-controller="Availability" asp-action="Create"
       asp-route-year="@ViewBag.year" asp-route-weekNr="@ViewBag.weekNr" asp-route-employeeId="@ViewBag.employeeId">
        Beschikbaarheid Opgeven
    </a>
</div>

@if(Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Dag</th>
                <th>Starttijd</th>
                <th>Eindtijd</th>
                <th>Beschikbaar</th>
                <th>School</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var availabilityRule in Model)
            {
                <tr>
                    <td>@availabilityRule.Date</td>
                    <td>@availabilityRule.StartTime</td>
                    <td>@availabilityRule.EndTime</td>
                    <td>@(availabilityRule.Available == 1 ? "Ja" : "Nee")</td>
                    <td>@(availabilityRule.School == 1 ? "Ja" : "Nee")</td>
                    <td>
                        <a class="btn btn-sm" asp-area="" asp-controller="Availability" asp-action="Edit"
                           asp-route-AvailabilityId="@availabilityRule.Id" asp-route-weekNr="@ViewBag.weekNr" asp-route-year="@ViewBag.year">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a class="btn btn-sm" asp-area="" asp-controller="Availability" asp-action="Delete"
                           asp-route-AvailabilityId="@availabilityRule.Id" asp-route-weekNr="@ViewBag.weekNr" asp-route-year="@ViewBag.year">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>U hebt nog geen beschikbaarheid opgegeven.</h3>
}