@model BumboSolid.Models.HolidayManageViewModel

@{
    ViewData["Title"] = "Feestdag bewerken";
}

<header class="d-flex flex-column align-items-center">
    <div class="d-flex w-100 header-items">
        <div class="d-flex justify-content-center align-items-center w-35">
            <a asp-controller="Holidays" asp-action="Index" class="btn bumbo-btn bumbo-btn-back">
                <i class="fa-solid fa-arrow-left"></i> Terug
            </a>
        </div>
        <div class="text-center d-flex flex-column align-items-center justify-content-center w-30">
            <h1>Feestdag Bewerken</h1>
            <h4>@Model.Holiday.Name</h4>
        </div>
        <div class="d-flex justify-content-center align-items-center w-35">
            <a asp-controller="Holidays" asp-action="Delete" asp-route-name="@Model.Holiday.Name" class="btn bumbo-btn bumbo-btn-danger">
                <i class="fa-solid fa-trash-can"></i> Feestdag Verwijderen
            </a>
        </div>
    </div>
</header>

<div class="container">
    <form asp-controller="Holidays" asp-action="Edit" asp-route-id="@Model.Holiday.Name" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Holiday.Name" />
        <div class="d-flex">
            <div style="width: 60%; padding-right: 20px;">
                <h6 class="text-center">Invloed</h6>
                <canvas id="holiday-chart" width="400" height="200"></canvas>

                <script>
                    const xValues = @Html.Raw(Json.Serialize(Model.xValues))
                    const yValues = @Html.Raw(Json.Serialize(Model.yValues))

                        new Chart("holiday-chart", {
                            type: "line",
                            data: {
                                labels: xValues,
                                datasets: [{
                                    fill: false,
                                    lineTension: 0,
                                    backgroundColor: "rgba(0,0,255,1.1)",
                                    borderColor: "rgba(0,0,0,1.1)",
                                    data: yValues
                                }]
                            },
                            options: {
                                legend: { display: false },
                                scales: {
                                    yAxes: [{ ticks: { min: @Model.LowestImpact, max: @Model.HighestImpact } }],
                                }
                            }
                        });
                </script>

                <div class="mt-4">
                    <div class="form-group">
                        <label for="firstday">Eerste Dag</label>
                        <input asp-for="FirstDay" id="firstday" type="date" class="form-control" />
                        <span asp-validation-for="FirstDay" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="lastday">Laatste Dag</label>
                        <input asp-for="LastDay" id="lastday" type="date" class="form-control" />
                        <span asp-validation-for="LastDay" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn bumbo-btn">
                            <i class="fa-solid fa-floppy-disk"></i> Opslaan & Bijwerken
                        </button>
                    </div>
                </div>
            </div>

            <div style="width: 35%; padding-left: 20px;">
                <h6>Invloed Aanpassen</h6>
                <div id="holidays-scrollbar" style="max-height: 500px; overflow-y: auto;">
                    @for (int i = 0; i < Model.Holiday.HolidayDays.Count; i++)
                    {
                        <div class="form-group">
                            <input type="hidden" asp-for="Holiday.HolidayDays[i].Date" />
                            <input type="hidden" asp-for="Holiday.HolidayDays[i].HolidayName" />
                            <label>Dag @Model.Holiday.HolidayDays[i].Date.ToString("dd-MM-yyyy")</label>
                            <input required type="number" class="p-2 form-control holiday-date" asp-for="Holiday.HolidayDays[i].Impact" />
                            <span asp-validation-for="Holiday.HolidayDays[i].Impact" class="text-danger"></span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>


