@model IEnumerable<BumboSolid.Models.HolidayViewModel>

<header class="d-flex flex-column align-items-center">
    <div class="d-flex w-100 header-items">
        <div class="d-flex justify-content-center align-items-center w-35">
            <a asp-controller="Prognoses" asp-action="" class="btn bumbo-btn">Terug</a>
        </div>
        <div class="text-center d-flex flex-column align-items-center justify-content-center w-30">
            <h1>Feestdagen</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center w-35">
            <a asp-controller="Holidays" asp-action="Create" class="btn bumbo-btn">+</a>
        </div>
    </div>
</header>

<br />

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Feestdagen</th>
                <th>Startdatum</th>
                <th>Einddatum</th>
                <th>Invloed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var holiday in Model)
            {
                <tr>
                    <td>@holiday.Name</td>

                    <td>@holiday.FirstDay.Day - @holiday.FirstDay.Month</td>

                    <td>@holiday.LastDay.Day - @holiday.LastDay.Month</td>

                    <td>
                        <a class="btn btn-link" asp-controller="Holidays" asp-action="Edit" asp-route-id="@holiday.Name">
                            <i class="fa-solid fa-chart-simple"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

