@model BumboSolid.Models.ScheduleViewDetailsViewModel;

<script src="https://kit.fontawesome.com/981e782106.js" crossorigin="anonymous"></script>

@{
	ViewData["Title"] = "Rooster Details";
}

<header class="d-flex align-items-center gap-3 justify-content-center">
	<div class="w-100 text-align text-end">
		<a class="new-btn" asp-controller="Schedules" asp-action="Index">Terug</a>
	</div>
	<div class="mx-3 text-center text-nowrap">
		<h1>Rooster Details</h1>
		<p>@Model.Day @Model.StartTime - @Model.EndTime</p>
	</div>
	<div class="w-100">
	</div>
</header>

<div class="row">
	<div class="col-md-2 fw-bold p-0 pe-3">Medewerker</div>
	<div class="col-md-2 fw-bold p-0 pe-3">Afdeling</div>
	<div class="col-md-2 fw-bold p-0 pe-3">Starttijd</div>
	<div class="col-md-2 fw-bold p-0 pe-3">Eindtijd</div>
	<div class="col-md-2 fw-bold p-0 pe-3">Extern</div>
	<div class="col-md-2"></div>
	<hr class="m-0 my-2" />
	@foreach (var shift in Model.Shifts)
	{
		@if (shift.Employee != null) {
			<div class="col-md-2 p-0 pe-3">@(shift.Employee.FirstName + " " + shift.Employee.LastName)</div>
		} else {
			<div class="col-md-2 p-0 pe-3">@(shift.ExternalEmployeeName)</div>
		}

		<div class="col-md-2 p-0 pe-3">@shift.Department</div>
		<div class="col-md-2 p-0 pe-3">@shift.StartTime</div>
		<div class="col-md-2 p-0 pe-3">@shift.EndTime</div>
		<div class="col-md-2 p-0 pe-3">@(shift.Employee == null ? "ja" : "nee")</div>
		<div class="col-md-2 p-0 pe-3 justify-content-center d-flex">
			@if (shift.Employee != null)
			{
				<a asp-controller="ClockedHoursManager" asp-action="Overview" asp-route-employeeId="@shift.Employee.Id"><i class="fa-solid fa-clock fa-xl px-2"></i></a>
			}
			<a asp-action="Edit" asp-route-id="@shift.Id"><i class="fa-solid fa-pencil fa-xl px-2"></i></a>
			<a asp-action="Delete" asp-route-id="@shift.Id"><i class="fa-solid fa-trash fa-xl px-2"></i></a>
		</div>
		<hr class="m-0 my-2" />
	}
</div>