@model BumboSolid.Data.Models.Norm

<header class="d-flex flex-column align-items-center">
    <div class="d-flex w-100 header-items">
        <div class="d-flex justify-content-center align-items-center w-35">
            <a asp-action="Index" class="btn bumbo-btn bumbo-btn-back">
                <i class="fa-solid fa-arrow-left"></i> Terug
            </a>
        </div>
        <div class="text-center d-flex flex-column align-items-center justify-content-center w-30 text-nowrap">
            <h1>Norm Aanmaken</h1>
        </div>
    </div>
</header>

<br />

<div class="d-flex justify-content-center align-items-center">
    <form asp-action="Create" method="post" class="w-75">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Activity">Activiteit *</label>
                    <input asp-for="Activity" class="form-control" />
                    <span asp-validation-for="Activity" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Department">Afdeling *</label>
                    <select asp-for="Department" class="form-control">
                        <option value="Vers" selected="@(Model.Department == "Vers" ? "selected" : null)">Vers</option>
                        <option value="Kassa" selected="@(Model.Department == "Kassa" ? "selected" : null)">Kassa</option>
                        <option value="Vakkenvullen" selected="@(Model.Department == "Vakkenvullen" ? "selected" : null)">Vakkenvullen</option>
                    </select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="Duration">Duur *</label>
                    <input asp-for="Duration" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="DurationUnit">Tijds Eenheid *</label>
                    <select id="DurationUnit" name="DurationUnit" class="form-control">
                        <option value="seconds" selected="@(Model.Duration % 60 != 0 && Model.Duration % 3600 != 0 ? "selected" : null)">Seconden</option>
                        <option value="minutes" selected="@(Model.Duration % 60 == 0 && Model.Duration % 3600 != 0 ? "selected" : null)">Minuten</option>
                        <option value="hours" selected="@(Model.Duration % 3600 == 0 ? "selected" : null)">Uren</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="AvgDailyPerformances">Gemiddelde Uitvoeringen Per Dag *</label>
                    <input asp-for="AvgDailyPerformances" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                    <span asp-validation-for="AvgDailyPerformances" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="per-bezoeker" class="col-form-label">Per bezoeker</label>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" asp-for="PerVisitor" id="per-bezoeker" />
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn bumbo-btn w-50"><i class="fa-solid fa-plus"></i> Aanmaken</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}