@model IEnumerable<BumboSolid.Data.Models.Shift>

@{
    ViewData["Title"] = "Ingoing Trade Requests";
}

@foreach (var shift in Model)
{
    <div class="d-flex flex-row">
        <p>@ViewBag.Date</p>
        <p>@shift.Weekday</p>
        <p>@shift.Department</p>
        <p>@shift.StartTime</p>
        <p>@shift.EndTime</p>
        <p>@ViewBag.Employee</p>
        <a asp-controller="Normeringen" asp-action="Accept" asp-route-id="@ViewBag.FillRequestId" class="btn btn-primary">Accepteren</a>
    </div>
}