@model BumboSolid.Models.EmployeeScheduleViewModel

@{
	ViewData["Title"] = "Rooster Medewerker";
}

<header class="d-flex align-items-center gap-3 justify-content-center gap-3">
	<div class="w-100 text-align text-end">
		<a class="new-btn" asp-controller="Availability" asp-action="Index" asp-route-weekStart="@(Model.StartDate)">Beschikbaarheid</a>
	</div>
	<div class="w-100">
		<a class="new-btn" asp-controller="ScheduleEmployee" asp-route-weekFromNow="@(Model.WeekFromNoW-1)">Vorige Week</a>
	</div>
	<div class="mx-3 text-center text-nowrap">
		<h1>Rooster</h1>
		<p>@Model.StartDate - @Model.EndDate</p>
	</div>
	<div class="w-100 text-align text-end">
		<a class="new-btn" asp-controller="ScheduleEmployee" asp-route-weekFromNow="@(Model.WeekFromNoW+1)">Volgende Week</a>
	</div>
	<div class="w-100">
		<a class="new-btn" asp-controller="ScheduleEmployee">Huidige Week</a>
	</div>
</header>

@if (Model.Shifts.Count != 0)
{
	<div class="row">
		<div class="col-md-2 fw-bold p-0 pe-3">Dag</div>
		<div class="col-md-2 fw-bold p-0 pe-3">Afdeling</div>
		<div class="col-md-2 fw-bold p-0 pe-3">Starttijd</div>
		<div class="col-md-2 fw-bold p-0 pe-3">Eindtijd</div>
		<div class="col-md-4"></div>

		<hr class="m-0 my-2" />

		@foreach (var shift in Model.Shifts)
		{
			string weekday = shift.Weekday switch {
				"Monday" => "Maandag",
				"Tuesday" => "Dinsdag",
				"Wednesday" => "Woensdag",
				"Thursday" => "Donderdag",
				"Friday" => "Vrijdag",
				"Saturday" => "Zaterdag",
				"Sunday" => "Zondag",
				_ => "Onbekende Dag"
			};

			<div class="col-md-2 p-0 pe-3 left-center-text">@weekday</div>
			<div class="col-md-2 p-0 pe-3 left-center-text">@shift.Department</div>
			<div class="col-md-2 p-0 pe-3 left-center-text">@shift.StartTime</div>
			<div class="col-md-2 p-0 pe-3 left-center-text">@shift.EndTime</div>
			<div class="col-md-4 p-0 pe-3 d-flex justify-content-center">
				<a class="new-btn px-3 me-3" asp-controller="ScheduleEmployee" asp-action="FillRequest" asp-route-id="@shift.Id">Ruilen</a>
				<a class="new-btn px-3">Afmelden</a>
			</div>

			<hr class="m-0 my-2" />
		}
	</div>
}
else
{
	<div class="text-center pt-3">
		<h1>Geen Rooster</h1>
		<p>Er is deze week geen rooster voor jou.</p>
	</div>
}