@model IEnumerable<BumboSolid.Models.AvailabilityRuleViewModel>

@{
	ViewData["Title"] = "Beschikbaarheid";
}


<header class="d-flex flex-column align-items-center">
    <div class="d-flex justify-content-between w-100 header-items">
        <div></div>
        <div>
            <a class="btn new-btn" asp-action="OverviewSchedule" asp-route-id="@ViewBag.WeekId">
                Rooster
            </a>
        </div>
        <div class="text-center d-flex flex-column align-items-center">
            <h1 class="text-nowrap">Beschikbaarheid</h1>
            <p>@ViewBag.StartDate.ToString("dd/MM/yyyy") - @ViewBag.StartDate.AddDays(6).ToString("dd/MM/yyyy")</p>
        </div>
        <div></div>
        <div></div>
    </div>
</header>

<table class="table">
	<thead>
		<tr>
			<th>Medewerker</th>
			<th>Dag</th>
			<th>Starttijd</th>
			<th>Eindtijd</th>
            <th>Beschikbaar</th>
			<th>School</th>
		</tr>
	</thead>
	<tbody>
        @foreach (var availabilityRule in Model)
        {
            <tr>
				<td>@availabilityRule.Employee</td>
                <td>@availabilityRule.Weekday</td>
                <td>@availabilityRule.StartTime</td>
                <td>@availabilityRule.EndTime</td>
                <td>@(availabilityRule.Available == 1 ? "Ja" : "Nee")</td>
                <td>@(availabilityRule.School == 1 ? "Ja" : "Nee")</td>
            </tr>
        }
	</tbody>
</table>